astro
.git
.env
airflow_settings.yaml
logs/
.venv
airflow.db
airflow.cfg
data/
venv/
__pycache__/
*.pyc
.git/
.dvc/
mlruns/
mlartifacts/
catboost_info/
outputs/
*.png
*.jpg
.env
.pytest_cache/
*.ipynb_checkpoints/