version: "3.1"
services:
  scheduler:
    volumes:
      - ./data:/usr/local/airflow/data
      - ./outputs:/usr/local/airflow/outputs
      - ./models:/usr/local/airflow/models
    environment:
      - AIRFLOW__SCHEDULER__MAX_THREADS=1
    deploy:
      resources:
        limits:
          memory: 512M
  
  webserver:
    volumes:
      - ./data:/usr/local/airflow/data
      - ./outputs:/usr/local/airflow/outputs
      - ./models:/usr/local/airflow/models
    environment:
      - AIRFLOW__WEBSERVER__WORKERS=1
    deploy:
      resources:
        limits:
          memory: 512M
  
  triggerer:
    volumes:
      - ./data:/usr/local/airflow/data
      - ./outputs:/usr/local/airflow/outputs
      - ./models:/usr/local/airflow/models
    deploy:
      resources:
        limits:
          memory: 256M
  
  postgres:
    deploy:
      resources:
        limits:
          memory: 256M